{% extends 'layout/base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}


  <div class="d-flex align-items-center justify-content-center">
    <div class="card border-secondary my-lg-3 p-3" style="border-width: 2px;">
        <h3>Смена пароля:</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Поменять пароль</button>
        </form>
    </div>
  </div>

{% endblock%}
