{% extends 'layout/base.html' %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card border-secondary my-lg-3 p-3" style="border-width: 2px;">
        <h1>Сброс пароля</h1>
        {% if validlink %}
        <p>Введите ваш новый пароль дважды:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" class="btn btn-dark" value="Поменять пароль"/></p>
        </form>
        {% else %}
        <p>Ссылка недействительна, пожалуйста, повторите попытку.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
