{% extends 'layout/base.html' %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card border-secondary my-lg-3 p-3" style="border-width: 2px;">
        <h1>Забыли пароль?</h1>
        <p>
            Введите свой почту, чтобы мы выслали все инструкции необходимые для сброса пароля
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-dark" type="submit" value="Отправить на почту"></p>
        </form>
    </div>
</div>

{% endblock %}
