{% extends 'layout/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center px-5">
        <div class="card border-secondary my-lg-5 p-3">
            <h3 class="list-inline-item">Game Fellow</h3>
            <p class="card-text">
                Game Fellow - Интернет-магазин предназначенный для размещения игр различных
                издателей и разработчиков. У нас вы можете найти игры на любой вкус и цвет! Нравятся шутеры?
                У нас они есть! Различные головоломки или стратегии для настоящих мыслителей? Имеются! У нас вы найдете все самые популярные игры последних лет,
                а также новинки и эксклюзивы, которые только что появились на рынке.
                Мы постоянно обновляем наш каталог, чтобы вы могли быть уверены, что найдете здесь всё, что искали.<br><br>
                Заинтересованы в сотрудничестве? <br>
                <h4>Контактная информация: </h4>
                Почта: gamefellow@mail.ru<br>
                Телефон: +79093678913
            </p>
        </div>
    </div>
</div>
{% endblock %}