{% extends 'layout/base.html' %}

{% block content %}

{% include 'layout/filter-bar.html'%}

<div class="mx-auto text-center my-2 my-sm-3 my-lg-2 p-5">
    {% include 'layout/search-field.html' %}
        {% for game in games %}
            {% include 'card-item.html'%}
<!--            {% if user.is_authenticated %}-->
<!--            <div class="d-inline-flex">-->
<!--                {% include 'favourites/add-favourite.html' with type='game' id=game.id %}-->
<!--                {% include 'cart/add-item.html' with type='game' id=game.id%}-->
<!--            </div>-->
<!--            {% endif %}-->
        {% endfor %}
</div>

{% endblock %}
