<footer class="text-center text-white" style="background-color: #1F1F1F; height: 20vh;position: sticky;">
    <div class="container p-4 pb-0">
        <p class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-light btn-rounded" onclick="window.location.href = '{% url 'register' %}'">
            Зарегистрироваться
          </button>
        </p>
    </div>
    <div class="text-center p-2" style="background-color: #1F1F1F">
      <h4>Контактная информация: </h4>
        <p>Почта: superzigames@mail.ru</p>
        <p>Телефон: +79093678913</p><br>
    </div>
  </footer>
